<html>
    <head>
        <meta charset="utf-8">
        <title>Git Statistics Home</title>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-26624761-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        {% for object in object_list %}
            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
            {% if not forloop.last %}<br />{% endif %}
        {% endfor %}
    </body>
</html>